body {
  margin: 8px;
}

.search-box {
  width: 100%;
  font-size: 1.2em;
  border: 1px solid lightgray;
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
}

.search-header {
  position: sticky;
  background: white;
  top: 0;
  margin: -8px;
  padding: 8px;
}
